<!-- Shows all the users volunteer history/ log a new project!--> 
 <section class="UserContainer">
  {{#each allVolunteers as |volunteer| }}
 
    <h3> Full name: {{volunteer.first_name}} {{volunteer.last_name}}</h3>
      <p>Email: {{volunteer.email}}</p>
      <p>Phone number: {{volunteer.phone}}</p>

      <p>Zip Code: {{volunteer.zip_code}}</p>

     
       <p>Sign Up Date: {{volunteer.date_signup}}</p>

  </div>
  {{/each}}
</section>